# conda install -c conda-forge openexr-python git
torch
torchvision
xformers==0.0.26.post1
openexr 
lpips 
kornia 
opencv-python 
tensorboard 
tqdm 
timm 
ffmpeg 
einops 
beartype 
imageio[ffmpeg] 
blobfile
ninja 
lmdb 
webdataset 
click 
torchdiffeq 
transformers
open_clip_torch
omegaconf
pytorch_lightning
kiui
gradio
huggingface_hub
rembg
safetensors
matplotlib
git+https://github.com/nupurkmr9/vision-aided-gan
PyMCubes
trimesh
diffusers
lz4